[Unit]
Description=Link Labs LoRa Gateway (Basic Station)
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/opt/linklabs/station
ExecStart=/opt/linklabs/bin/start.sh
SyslogIdentifier=linklabs
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
