[Unit]
Description=Link Labs LoRa Gateway LEDs
After=linklabs.service
BindsTo=linklabs.service

[Service]
Type=simple
ExecStart=/opt/linklabs/bin/leds.sh run
ExecStopPost=/opt/linklabs/bin/leds.sh init-off
Restart=on-failure
RestartSec=5
# Don't echo journalctl output back into the journal.
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target
